.l-about-us {

    &__welcome {

    }

    &__team-faces {
        
    }

    &__reg-docs {
        margin: 10rem 0;
    }

    &__reports {
        margin-top: 14rem;
        margin-bottom: 12rem;
    }
}