.l-about-us {

    &__intro {

    }

    &__team-faces {
        
    }

    &__reg-docs {
        margin: 10rem 0;
    }

    &__reports {
        margin-top: 14rem;
        margin-bottom: 12rem;
    }
}

@media (max-width: 899.98px) {
    .l-about-us {

        &__reg-docs {
            margin: 80px 0;
        }

        &__reports {
            margin: 80px 0;
            
            &__docs {
                margin: 0 -14px;
            }
        }
    }
}