.l-coming {
    &__1 {

        &__row {
            display: flex;
        }
    
        &__left {
            flex: 0 0 auto;
            width: 33.33%;
        }
    
        &__right {
            flex: 0 0 auto;
            width: 66.66%;
            padding-left: 12rem;
        }
    
      
    }
}