.l-coming {
    &__main {

        margin-bottom: 15rem;

        &__row {
            display: flex;
        }
    
        &__left {
        }
    
        &__right {
            padding-left: 12rem;
            flex-grow: 1;
        }
    
      
    }
}

@media (max-width: 899.98px) {
    .l-coming {
        &__main {
            margin-bottom: 80px;
        }
    }
}