.l-creative {

    &__about {
        margin: 10rem 0;

        &__row {
            display: flex;
        }

        &__left {
            flex-grow: 1;
            padding-right: 77px;
        }

        &__right {
            flex: 0 0 auto;
            width: 32rem;
        }
    }

    &__digits {
        margin: 16rem 0;
    }

    &__reg-docs {
        margin: 10rem 0 20rem 0;
    }
}


@media (max-width: 899.98px) {
    .l-creative {

        &__about {
            margin: 40px 0;
           
            &__row {
                display: block;
            }

            &__left {
                padding-right: 0;
            }

            &__right {
                margin: 64px 0;
                width: auto;
            }
        }

        &__digits {
            margin: 80px 0;
        }

        &__reg-docs {
            margin: 80px 0;
        }
    }
}