.l-creative {

    &__digits {
        margin: 16rem 0;
    }

    &__reg-docs {
        margin: 10rem 0 20rem 0;
    }
}


@media (max-width: 899.98px) {
    .l-creative {

        &__digits {
            margin: 80px 0;
        }

        &__reg-docs {
            margin: 80px 0;
        }
    }
}