.l-gallery {
    &__main {
        margin-bottom: 20rem;

        &__photos {
            margin: 6.4rem 0;
        }
    }
}

@media (max-width: 899.98px) {
    .l-gallery {
        &__main {
            margin-bottom: 80px;

            &__photos {
                margin-top: 32px;
                margin-bottom: 40px;
            }
        }
    }
}