.l-gallery {
    &__main {
        margin-bottom: 15rem;

        &__photos {
            margin: 6.4rem 0;
        }
    }
}

@media (max-width: 899.98px) {
    .l-gallery {
        &__main {
            margin-bottom: 80px;
        }
    }
}