.l-news {
    &__main {

        margin-bottom: 15rem;

        &__row {
            display: flex;

        }
    
        &__left {
        }
    
        &__right {
            padding-left: 8rem;
            flex-grow: 1;
        }
    
      
    }

    &__search {
        margin-bottom: 4rem;
        display: none;

        &__btn {
            margin-top: 1rem;
        }
    }
}

@media (max-width: 1199.98px) {
    .l-news {
        &__main {
            &__row {
                display: block;
            }

            &__left {
                display: none;
            }

            &__right {
                padding-left: 0;
                width: auto;
            }
        }

        &__search {
            display: block;
            margin-bottom: 35px;
        }
    }

}
@media (max-width: 899.98px) {
    .l-news {
        &__main {
            margin-bottom: 80px;

           
        }

        

    }
}