.l-programs {
    &__main {
        margin-bottom: 15rem;

        &__row {
            display: flex;
        }
    
        &__left {
            flex: 0 0 auto;
            width: 400px;
        }
    
        &__right {
            padding-left: 4rem;
            flex-grow: 1;
        }
      
    }

    &__search {
        margin-bottom: 4rem;

        &__btn {
            margin-top: 1rem;
            display: none;
        }
    }
}

@media (max-width: 1199.98px) {
    .l-programs {
        &__main {
            &__row {
                display: block;
            }

            &__left {
                display: none;
            }

            &__right {
                padding-left: 0;
                width: auto;
            }
        }

        &__search {
            margin-bottom: 35px;

            &__btn {
                display: block;
            }
        }
    }

}
@media (max-width: 899.98px) {
    .l-programs {
        &__main {
            margin-bottom: 80px;
        }
    }
}