.l-program {


    &__points-text {

    }

    &__points-green {

    }

    &__points {
        padding-top: 80px;
        padding-bottom: 120px;
        background: #F8F8F8;
    }

    &__teachers {
        margin: 20rem 0;
    }
}

@media (max-width: 899.98px) {
    .l-program {
        &__points {
            padding: 60px 0;
        }

        &__teachers {
            margin: 60px 0 80px 0;
        }
    }
}