.l-program {


    &__points-text {

    }

    &__about {
        margin: 10rem 0 16rem 0;

        &__row {
            display: flex;
        }

        &__left {
            flex: 0 0 auto;
            padding-right: 8rem;
            padding-top: 1rem;
            width: 40%;
            
        }

        &__right {
            flex: 0 0 auto;
            width: 60%;
        }

        .page__h1 {
            display: inline-block;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid #20877D;
            margin-bottom: 2.4rem;
        }
    }

    &__points-green {

    }

    &__points {
        padding-top: 80px;
        padding-bottom: 120px;
        background: #F8F8F8;
    }

    &__teachers {
        margin: 16rem 0;
    }

    &__docs {
        margin-top: 16rem;
        margin-bottom: 20rem;

        &__row {
            display: flex;
        }

        &__left {
            flex: 0 0 auto;
            padding-right: 8rem;
            width: 40%;
        }

        &__right {
            flex: 0 0 auto;
            width: 60%;

            .page__h1 {
                display: inline-block;
                border-bottom: 1px solid #20877D;
                padding-bottom: 1.6rem;
                margin-bottom: 2.4rem;
            }
        }

        &__list {
            margin-top: 4rem;
            list-style:disc;
            list-style-position: inside;
            font-size: 2.4rem;
            line-height: 150%;

            a {
                @extend .nice-link;
                @extend .nice-link--active;
                color: #20877D;
            }
        }
    }

 
}

@media (max-width: 899.98px) {
    .l-program {
        &__points {
            padding: 60px 0;
        }

        &__about {
            margin-top: 60px;
            margin-bottom: 75px;

            &__row {
                flex-direction: column;
            }

            &__left {
                order: 2;
                width: 100%;
                margin-top: 40px;
                padding-top: 0;
            }

            &__right {
                order: 1;
                width: 100%;

                .page__h1 {
                    margin-bottom: 16px;
                    padding-bottom: 16px;
                }
            }

        }

        &__teachers {
            margin: 80px 0;
        }

        &__docs {
            margin: 80px 0;
            
            &__row {
                flex-direction: column;
            }

            &__left {
                margin-top: 80px;
                width: 100%; 
                padding-right: 0;
                order: 2;

            }

            &__right {
                width: 100%;
                order: 1;

                .page__h1 {
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                }
            }

            &__list {
                font-size: 14px;
                margin-top: 24px;
            }
        }
    }
}