
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- @@placeholder = title -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/main.min.css">
		<!-- @@placeholder = styles -->
		<script src="js/modernizr-output.js"></script>
	 </head>
<body> 
	<div class="page__wrapper">
		<div class="page__flower"></div>
		<div class="page__content">
			<!-- @@placeholder = content -->
			<!-- @@include = ../partials/burger.html -->
		</div>

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
		<!-- @@placeholder = scripts -->
		<script src="js/bundle.js"></script>

		<div id="notify" class="notify"></div>
		
		<!-- @@include = ../partials/filelist.html -->
	</div>
</body>

</html>