@import './vendor/bootstrap-transitions.scss';

@mixin fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin fix-margin {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

:root {
    --side-padding: 100px;
}



* {
    box-sizing: border-box;
}


html {
    font-size: clamp(7px, .7vw, 10px);
}

body {
    min-width: 320px;
    font-family: 'Raleway', sans-serif;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000;
}

a {
    transition: all .2s;
    text-decoration: none;
    color: inherit;
}

button {
    transition: all .2s;
}

input, textarea {
    &:focus {
        outline: none;
    }
}


.text-center {
    text-align: center;
}

.text-green {
    color: #20877D;
}

.text-white {
    color: #fff;
}

.text-uppercase {
    text-transform: uppercase;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.link-area {
    @include fill;
}

.nice-link {
    background-image: linear-gradient(currentColor,currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size .25s ease-out,color .2s;
   
    &:hover {
        background-size: 100% 1px;
    }

    &--active {
        background-size: 100% 1px;

        &:hover {
            background-size: 0 1px;
        }
    }
}

@import './blocks/page.scss';
@import './blocks/inputs.scss'; 
@import './blocks/buttons.scss'; 
@import './blocks/checkbox.scss'; 
@import './blocks/digits.scss';
@import './blocks/docs-tiles.scss';
@import './blocks/docs-list.scss';
@import './blocks/programs.scss';
@import './blocks/nav-pager.scss';

@import './blocks/media-tiles.scss';
@import './blocks/events-list.scss';
@import './blocks/nav-bread.scss';
@import './blocks/points.scss';
@import './blocks/points-text.scss';
@import './blocks/points-green.scss';
@import './blocks/header.scss';
@import './blocks/promo-1.scss';
@import './blocks/promo-2.scss';
@import './blocks/promo-3.scss';
@import './blocks/accordion.scss'; 
@import './blocks/footer.scss'; 
@import './blocks/contacts.scss'; 
@import './blocks/form-feedback.scss'; 
@import './blocks/form-filter.scss'; 
@import './blocks/team.scss'; 
@import './blocks/about-us.scss'; 
@import './blocks/gallery.scss'; 
@import './blocks/inform.scss'; 
@import './blocks/article.scss'; 
@import './blocks/tags.scss'; 
@import './blocks/slider-people.scss'; 
@import './blocks/slider-reviews.scss'; 
@import './blocks/slider-thanks.scss'; 
@import './blocks/slider-dots.scss'; 
@import './blocks/contact.scss'; 
@import './blocks/popup.scss'; 
@import './blocks/news-list.scss'; 
@import './blocks/news-tiles.scss'; 
@import './blocks/albums-tiles.scss'; 


@import './layouts/l-index.scss';
@import './layouts/l-coming.scss';
@import './layouts/l-about-us.scss';
@import './layouts/l-contacts.scss';
@import './layouts/l-media.scss';
@import './layouts/l-gallery.scss';
@import './layouts/l-creative.scss';
@import './layouts/l-program.scss';
@import './layouts/l-news.scss';
@import './layouts/l-press.scss';




@media (max-width: 1600px) {
    :root {
        --side-padding: 40px;
        --color-green: #20877D;
    }
}

@media (max-width: 899.98px) {

    :root {
        --side-padding: 10px;
    }

    html {
        font-size: 9px;
    }
}

