.about-us {

    &__h2 {
        font-weight: 500;
        font-size: 4rem;
        line-height: 150%;
        text-transform: uppercase;
        max-width: 80rem;
    }

    &__list {
        margin-left: 40%;
        margin-bottom: 10rem;
        margin-top: 6.4rem;
    }

    &__row {
        display: flex;
    }

    &__col {
        flex: 0 0 auto;
        padding-right: 4rem;
        width: 45%;
    }

    &__item {

    }

    &__num {
        display: inline-block;
        background: #72CAC1;
        border-radius: 4rem 0px;
        padding: 0.7rem 3.2rem;
        font-weight: 700;
        font-size: 4rem;
        line-height: 150%;
        color: #FFFFFF;
    }

    &__desc {
        margin-top: 2.4rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 155%;
    }

    
}

@media (max-width: 899.98px) {
    .about-us {

        &__h2 {
            max-width: 300px;
            font-weight: 500;
            font-size: 2rem;
            line-height: 135%;
            color: #20877D;
            text-transform: none;
        }

        &__list {
            margin-left: 60px;
            margin-bottom: 60px;
            margin-top: 40px;
        }

        &__col {
            width: 50%;
        }

        &__num {
            font-size: 32px;
        }
    }
}

@media (max-width: 599.98px) {
    .about-us {

        &__row {
            display: block;
        }

        &__col {
            width: auto;
            margin-bottom: 32px;
            padding-right: 20px;
        }

    }


}
