.article {
    font-size: 1.6rem;
    line-height: 155%;

    * {
        @include fix-margin;
    }

    blockquote,
    p {
        margin: 4rem 0;
    }

    blockquote {
        border-left: 1.6rem solid #20877D;
        padding-left: 3.2rem;
        font-size: 2rem;
        line-height: 150%;
    }
}


@media (max-width: 899.98px) {

    .article {
        font-size: 14px;
        line-height: 135%;

        p,
        blockquote {
            margin: 24px 0;
        }

        blockquote {
            border-left-width: 8px;
            padding-left: 24px;
            font-size: 14px;
            line-height: 135%;
        }
    }
}