.checkbox {
    display: block;
    position: relative;
    padding-left: 2.8rem;
    margin-bottom: .8rem;
    font-size: 1.4rem;
    line-height: 155%;
    user-select: none;
    cursor: pointer;
}
  
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    transition: all .2s;
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    background: #F6F6F6;
    border: 1px solid #E1E1E1;
    border-radius: .4rem;
}
  
.checkbox:hover input ~ .checkmark {
    background-color: #E1E1E1;
}
  
.checkbox input:checked ~ .checkmark {
    background-color: #20877D;
    border-color: transparent;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkbox input:checked ~ .checkmark:after {
    display: block;
}
  
.checkbox .checkmark:after {
    left: 37%;
    top: 11%;
    width: 20%;
    height: 50%;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}