.footer {
    position: relative;
    overflow: hidden;
    padding: 10rem 0;
    background: #20877D;
    font-size: 1.6rem;
    color: #FFFFFF;


    &__in {
        position: relative;
        display: flex;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
    }

    &__col {
        padding: 0 8rem 8rem 0;
        flex: 1 1 auto;

        &:last-child {
            padding-right: 0;
        }
    }

    &__name {
        margin-right: auto;
        
        a {
            display: inline-block;
            white-space: nowrap;
            font-weight: 500;
            line-height: 120%;
            text-transform: uppercase;
        }
    }

    &__nav {
        max-width: 20rem;
    }

    


    &__touch {

        &__title {
            margin-bottom: 1.6rem;
            font-weight: 700;
            line-height: 150%;
            text-transform: uppercase;
        }

        &__desc {
            line-height: 150%;

            > div {
                margin-bottom: .8rem;
            }
        }
    }

    &__promo {
        &__title {
            margin-bottom: 2.2rem;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 150%;
        }
    }

    &__icons {
        display: flex;
        margin-top: 1rem;

        a {
            margin-right: 1.6rem;

            .icon {
                width: 2.4rem;
                height: 2.4rem;
                fill: #fff;
            }
        }
    }
}

@media (max-width: 899.98px) {
    .footer {
        padding: 40px 0;
        font-size: 14px;
        
        &__flower {
            position: absolute;
            top: 60px;
            right: -210px;
            width: 545px;
            height: 632px;
            background: #20877D url(../img/footer/flower.svg) no-repeat 100% 100% ;
        }
        
        &__in {
            display: block;
        }

        &__name {
            font-size: 10px;
        }

        &__row {
            margin-top: 40px;
        }

        &__col {
            padding-right: 40px;
            padding-bottom: 40px;

            &:last-child {
                width: 100%;
                padding-bottom: 0;
            }
        }

       

        &__touch {
            &__title {
                margin-bottom: 12px;
            }

            &__desc {
                font-size: 12px;
            }
        }

        &__promo {
            &__title {
                margin-bottom: 16px;
            }
        }
    }
}