.form-feedback {
    padding: 5.6rem;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.05);

    &__title {
        margin-bottom: 4rem;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 135%;
        text-align: center;
    }

    &__input {
        margin-bottom: 1.2rem;
    }

    &__area {
        margin-top: 2.4rem;
    }

    &__ctrl {
        margin-top: 4rem;
        text-align: center;
    }
}

@media (max-width: 899.98px) {
    .form-feedback {
        padding: 40px 24px;

        &__title {
            margin-bottom: 24px;
            font-weight: 600;
            font-size: 20px;
        }

        &__input {
            margin-bottom: 8px;
        }

        &__area {
            margin-top: 16px;
        }

        &__ctrl {
            margin-top: 24px;
        }
    }
}