.form-feedback {
    padding: 5.6rem;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);

    &__title {
        margin-bottom: 4rem;
        font-weight: 500;
        font-size: 3.2rem;
        line-height: 135%;
        text-align: center;
    }

    &__input {
        margin-bottom: 1.2rem;
    }

    &__area {
        margin-top: 2.4rem;
    }

    &__ctrl {
        margin-top: 4rem;
        text-align: center;
    }
}