.gallery {


    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
        margin-top: -2rem;
    }

    &__col {
        flex: 0 0 auto;
        width: 25%;
        padding: 0 1rem;
        margin-top: 2rem;

        &:nth-child(5n+2),
        &:nth-child(5n+4),
        &:nth-child(5n+5) {
            width: 50%;
        }
    }

    &__item {
        display: block;
        background: #eeeeee 50% 50% / cover;
        height: clamp(200px, 30vw, 400px);
        cursor: pointer;
    }
}

@media (max-width: 899.98px) {
    .gallery {

        &__row {
            margin-top: -12px;
        }

        &__col {
            width: 50%;
            margin-top: 12px;
        }

        &__item {
            height: auto;

            &:before {
                content: ' ';
                padding-top: 66%;
                display: block;
            }
        }
    }
}

@media (max-width: 399.98px) {
    .gallery {
        &__col {
            width: 100% !important;
        }
    }
}