.header {
    box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.05);

    // topbar
    &__top {
        background: #20877D;
        padding: .8rem 0;
        color: #FFFFFF;

        &--gray {
            background: #F6F6F6;
            .header__lang {
                a {
                    color: #8D8D8D;

                    &:hover,
                    &.active {
                        color:  #20877D;
                    }
                }
            }
            .header__desc {
                color: #333;
            }
            .header__icons {
                a {
                    .icon {
                        fill: #20877D;
                    }
                }
            }
        }

        &__in {
            display: flex;
            align-items: center;
        }
    }

    &__lang {
        display: flex;

        a {
            margin-right: 1em;
            font-size: 1.2rem;
            line-height: calc(14/12);
            text-transform: uppercase;
            color: rgba(#fff, .5);

            &:hover,
            &.active {
                color: #fff;
            }
        }
    }

    &__desc {
        margin-left: 3rem;
        font-size: 1.4rem;
        line-height: calc(16/14);
        
    }

    &__icons {
        margin-left: auto;
        display: flex;

        a {
            margin-left: 1.6rem;

            .icon {
                width: 2.4rem;
                height: 2.4rem;
                fill: currentColor;
            }
        }

        span {
            flex: 0 0 auto;
            width: 2.4rem;
        }
    }

    // white bar 
    &__main {
        background: #fff;
        padding: 3rem 0;

        &__in {
            display: flex;
            align-items: center;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 120%;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        padding: 0 5rem;

        a {
            @extend .nice-link;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 150%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            white-space: nowrap;
            margin: .2rem clamp(20px, 4vw, 80px) .2rem 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__tools {
        margin-left: auto;
        display: flex;
    }

    &__btn-eye,
    &__btn-search,
    &__btn-menu {
        border: 0;
        background: none;
        padding: 0;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
    }

    &__btn-eye {
        display: none;

        .icon {
            fill: #20877D;
            width: 3rem;
            height: 3rem;
        }
    }

    &__btn-search {
        .icon {
            fill: #20877D;
            width: 2.4rem;
            height: 2.4rem;
            margin-top: .4rem;
        }
    }

    &__btn-menu {
        i {
            display: block;
            margin: .7rem auto;
            width: 2.4rem;
            height: 2px;
            background: #20877D;
        }
    }



}

@media (max-width: 899.98px) {
    .header {

        &__top {
            display: none;
        }

        &__main {
            padding: 16px 0;
        }

        &__nav {
            display: none;
        }

        &__name {
            font-size: 10px;
        }

        &__btn-eye,
        &__btn-search,
        &__btn-menu {
            width: 44px;
            height: 44px;
        }

        &__btn-eye {
            display: block;

            .icon {
                width: 22px;
                height: 22px;
                
            }
        }

        &__btn-search {
            .icon {
                width: 16px;
                height: 16px;
            }
        }

        &__btn-menu {
            i {
                margin: 4px auto;
                width: 16px;
            }
        }

    }
}