
.input {
    input,
    textarea {
        display: block;
        padding: 1.8rem 1.6rem;
        width: 100%;
        background: #F6F6F6;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        font-size: 1.4rem;
        font-family: inherit;
        line-height: 135%;
        
        &::placeholder {
            color: #898989;
        }
    }
}