
.input {
    input,
    textarea {
        display: block;
        padding: 1.8rem 1.6rem;
        width: 100%;
        background: #F6F6F6;
        border: 1px solid #E1E1E1;
        border-radius: .4rem;
        font-size: 1.4rem;
        font-family: inherit;
        line-height: 135%;
        color: inherit;
        
        &::placeholder {
            color: #898989;
        }

        &:focus {
            box-shadow: 0 0 .5rem rgba(#000, .1);
            background: #fff;
        }
    }

    textarea {
        resize: vertical;
    }
}

.input-search {
    position: relative;

    .icon {
        position: absolute;
        left: 1.9rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.8rem;
        height: 1.8rem;
        fill: #20877D;
        pointer-events: none;
    }

    input {
        background: #FFFFFF;
        border: 1px solid #EFEFEF;
        border-radius: .4rem;
        padding: 1.9rem;
        padding-left: 5.5rem;
        width: 100%;
        font-size: 1.4rem;
        font-family: inherit;
        line-height: 135%;
        color: inherit;

        &:focus {
            box-shadow: 0 0 .5rem rgba(#000, .1);
        }

        &::placeholder {
            color: #898989;
        }

    }

}

.input-date {
    position: relative;
    

    &__prefix {
        position: absolute;
        left: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.4rem;
        line-height: 135%;
        color: #898989;
        pointer-events: none;
    }

    .icon {
        position: absolute;
        right: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1.8rem;
        height: 1.8rem;
        fill: #20877D;
        pointer-events: none;
    }

    input {
        width: 20rem;
        padding: 1rem 4rem;
        background: #FFFFFF;
        border: 1px solid #EFEFEF;
        border-radius: .4rem;
        font-size: 1.4rem;
        line-height: 135%;
        color: #333333;

        &:focus {
            box-shadow: 0 0 .5rem rgba(#000, .1);
        }
    }
}