
.input {


    input,
    textarea {
        display: block;
        width: 100%;
        padding: 1.8rem 1.6rem;
        background: #F6F6F6;
        border: 1px solid #E1E1E1;
        border-radius: .4rem;
        font-size: 1.4rem;
        font-family: inherit;
        line-height: 135%;
        color: #333333;
        
        &::placeholder {
            color: #898989;
        }

        &:focus {
            box-shadow: 0 0 .5rem rgba(#000, .1);
            background: #fff;
        }

        &.error {
            border-color: #f00
        }
    }

    textarea {
        resize: vertical;
    }

    label.error {
        display: block;
        font-size: 1.4rem;
        margin-top: .5em;
        color: #f00;
    }
}

.input-search {
    position: relative;

    input {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #EFEFEF;
        border-radius: .4rem;
        padding: 1.9rem;
        padding-left: 5.5rem;
        font-size: 1.4rem;
        font-family: inherit;
        line-height: 135%;
        color: #333333;

        &::placeholder {
            color: #898989;
        }

        &:focus {
            box-shadow: 0 0 .5rem rgba(#000, .1);
        }

    }

    .icon {
        @include position-middle;
        left: 1.9rem;
        width: 1.8rem;
        height: 1.8rem;
        fill: #20877D;
        pointer-events: none;
    }

}

.input-date {
    position: relative;

    &__prefix {
        @include position-middle;
        left: 1.2rem;
        font-size: 1.4rem;
        line-height: 135%;
        color: #898989;
        pointer-events: none;
    }

    input {
        width: 100%;
        padding: 1rem 4rem;
        background: #FFFFFF;
        border: 1px solid #EFEFEF;
        border-radius: .4rem;
        font-size: 1.4rem;
        font-family: inherit;
        line-height: 135%;
        color: #333333;

        &:focus {
            box-shadow: 0 0 .5rem rgba(#000, .1);
        }
    }

    .icon {
        @include position-middle;
        right: 1.2rem;
        width: 1.8rem;
        height: 1.8rem;
        fill: #20877D;
        pointer-events: none;
    }
    
}