.media-tiles {

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.2rem;
        margin-top: -4rem;
    }

    &__col {
        flex: 0 0 auto;
        width: 33.33%;
        padding: 0 1.2rem;
        margin-top: 4rem;
    }

    &__item {
        position: relative;
    }

    &__image {
        position: relative;
        background-position: 50% 50%;
        background-size: cover;
    }

    &__date {
        display: block;
        margin-top: 2.4rem;
        font-size: 1.4rem;
        line-height: 135%;
        color: #3D3D3D;
    }

    &__name {
        margin: 1.6rem 0;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 140%;

        a {
            display: block;
        }
    }

    &__media {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 150%;
        color: #20877D;
    }

  
}

@media (max-width: 899.98px) {

    .media-tiles {

        &__col {
            width: 50%;
        }

        &__name {
            margin: 8px 0;
            font-size: 20px;
        }

        &__date {
            margin-top: 16px;
            font-size: 12px;
            
        }

        &__media {
            margin-top: 16px;
            font-size: 14px;
        }

    }
}


@media (max-width: 499.98px) {

    .media-tiles {

        &__row {
            margin-top: 0;
        }

        &__col {
            width: 100%;
            margin-top: 32px;

            @include reset-margins;
        }



    }
}

