.nav-pager {
    display: flex;
    font-size: 1.6rem;
    line-height: calc(19/16);
    margin-top: 6.4rem;

    &:last-child {
        margin-bottom: 0;
    }
    

    &__nums {
        display: flex;

        a {
            padding: .5em .8em;
            color: #000;

            &:hover {
                background: #c3ede9;
                border-radius: 1em 0px;
            }

            &.active {
                background: #20877D;
                border-radius: 1em 0px;
                color: #fff;
            }
        }

    }

    &__btn {
        padding: .5em 0;
        margin-left: 1em;
        font-weight: 500;
        color: #20877D;
    }
}

@media (max-width: 899.98px) {
    .nav-pager {
        margin-top: 40px;
    }
}