.nav-footer {
    margin-top: 2.4rem;
    font-size: 1.6rem;
    color: #FFFFFF;

    &:first-child {
        margin-top: 0;
    }

    div {
        margin-top: 2.4rem;

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        @extend .nice-link;
        font-weight: 700;
        line-height: 150%;
        text-transform: uppercase;
    }
}

@media (max-width: 899.98px) {
    .nav-footer {
        margin-top: 12px;
        
        > div {
            margin-top: 12px;
        }
    }
}