.news-tiles {

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.2rem;
    }

    &__col {
        flex: 0 0 auto;
        width: 33.33%;
        padding: 0 1.2rem;
        margin-top: 4rem;

        &:nth-child(-n+3) {
            margin-top: 0;
        }
    }

    &__item {
        position: relative;
    }

    &__image {
        position: relative;
        background-position: 50% 50%;
        background-size: cover;
    }

    &__date {
        position: absolute;
        left: 0;
        bottom: 10%;
        padding: 1em calc(24/16) + em;
        background: #FFFFFF;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 155%;
        color: #20877D;
    }

    &__name {
        margin: 1.6rem 0;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 140%;

        .news-tiles__image + & {
            margin-top: 3.2rem;
        }

        a {
            display: block;
        }
    }

    &__media {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 150%;
        color: #20877D;
    }

    &__tags {
        margin-top: 2.4rem;
    }
}

@media (max-width: 899.98px) {

    .news-tiles {
        &__name {
            margin: 24px 0;
            font-size: 16px;
        }

        &__date {
            font-size: 14px;
        }
    }
}

