.page {

    

    &__wrapper {
        background: url(../../img/flower-green.svg) 100% 0 / 40% auto no-repeat;

        &--gray {
            background-color: #F8F8F8;
        }
    }

    &__center {
        padding: 0 var(--side-padding);
        max-width: 1380px;
        margin: 0 auto;
    }

    &__gray {
        padding: 1px 0;
        background: #F8F8F8;
    }

    &__h1 {
        margin-bottom: 3.2rem;
        font-weight: 500;
        font-size: 5.6rem;
        line-height: 150%;
        text-transform: uppercase;
        
    }



    &__h3 {
        margin-bottom: 4rem;
        font-weight: 500;
        font-size: 4rem;
        line-height: 135%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }

    &__date {
        margin-top: 1.6rem;
        font-size: 1.4rem;
        line-height: 135%;
        color: #3D3D3D;
    }

    &__more {
        margin-top: 4rem;
    }

    &__space {
        height: 150px;
    }

   
}


@media (max-width: 899.98px) {
    .page {
        &__h1,
        &__h3 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 24px;
        }
    }
}


