.page {

    &__wrapper {
        background: url(../../img/flower-4.svg) 100% 0 / 40% auto no-repeat;
    }

    &__center {
        padding: 0 var(--side-padding);
        max-width: 1380px;
        margin: 0 auto;
    }

    &__gray {
        padding: 1px 0;
        background: #F8F8F8;
    }

    &__h1 {
        font-weight: 500;
        font-size: 5.6rem;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 3.2rem;
    }

    &__h3 {
        font-weight: 500;
        font-size: 4rem;
        line-height: 135%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 4rem;
    }


   
}