.points-green {
    background: #20877D url(../../img/flower-5.svg) 80% 30% / 70% auto no-repeat;
    padding: 10rem 0;

    &__row {
        display: flex;
        margin: 0 -2rem;
        justify-content: space-between;
        margin-top: 6.4rem;
    }

    &__col {
        flex: 0 1 36rem;
        padding: 0 2rem;
    }

    &__num {
        display: inline-block;
        background: #72CAC1;
        border-radius: 4rem 0px;
        padding: 0.7rem 3.2rem;
        font-weight: 700;
        font-size: 4rem;
        line-height: 150%;
        color: #FFFFFF;
    }

    &__desc {
        margin-top: 4rem;
        font-size: 2.4rem;
        line-height: 150%;
        color: #FFFFFF;
    }
}

@media (max-width: 899.98px) {
    .points-green {
        padding: 60px 0;
        background-position: 50% 50%;
        background-size: auto 130%;

        &__row {
            display: block;
            margin-left: 50px;
            margin-right: 0;
        }


        &__col {
            margin-top: 32px;
            padding: 0;
        }

        &__num {
            font-size: 32px;
        }

        &__desc {
            margin-top: 16px;
        }
    }
}