.programs {

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1rem;
        margin-top: -2rem;
    }

    &__col {
        flex: 0 0 auto;
        width: 33.33%;
        padding: 0 1rem;
        margin-top: 2rem;
    }

    &__item {
        transition: filter .2s;
        position: relative;
        padding: 3.2rem;
        min-height: 27.5rem;
        color: #fff;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
        border-radius: 4px;

        &:hover {
            filter: brightness(1.1);

        }
    

        &:before {
            @include fill;
            content: " ";
            background: url(../img/programs/flower.svg) 100% 100% / contain no-repeat;
        }

        &--orange {
            background: linear-gradient(110.34deg, #F0DC8D 0%, #FF1C3E 100%);

        }

        &--green {
            background: linear-gradient(110.34deg, #00706C 0%, #00FFBB 100%);
        }

        &--dark-blue {
            background: linear-gradient(110.34deg, #0B31BF 0%, #1DEBD5 100%);
        }

        &--yellow {
            background: linear-gradient(110.34deg, #FF9800 0%, #FFC107 49.48%, #FFEB3B 100%);
        }

        &--blue {
            background: linear-gradient(110.34deg, #00A4DB 0%, #B6FBFF 100%);
        }

        &--purple {
            background: linear-gradient(110.34deg, #B76AE6 0%, #CC2B2B 100%);
        }
    }

    &__tags {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        
        > span {
            display: inline-block;
            margin: 0 1.5em .3em 0 ;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 150%;
    }
    
}

@media (max-width: 899.98px) {
    .programs {
        &__row {

        }

        &__col {
            flex: 1 1 300px;
            width: auto;

            
            
        }

        &__item {
            min-height: 250px;
            padding: 24px;
        }

        &__tags {
            font-size: 14px;
            line-height: 150%;
        }

        &__name {
            font-size: 20px;
            line-height: 135%;
        }
    }
}

@media (max-width: 499.98px) {
    .programs {
        &__row {
            display: block;
            margin-top: 0;
        }

        &__col {
            margin: 12px 0 0 0;
            @include my-0;

            &:nth-child(n+4) {
                display: none;
            }
        }

    }
}