.promo {
    background-size: cover;
    background-position: 50% 50%;
    min-height: 68rem;
    display: flex;

    &__text {
        flex-grow: 1;
        padding: var(--side-padding) 0;
        align-self: flex-end;
        color: #fff;

        &__size {
            max-width: 50%;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 5.6rem;
        line-height: 120%;
    }

    &__line {
        margin: 3.2rem 0;
        border-top: 1px solid #fff;
    }

    &__desc {
        font-size: 2rem;
        line-height: 150%;
    }
}