.promo-3 {
    position: relative;
    color: #fff;
    overflow: hidden;

    &__flower {
        position: absolute;
        bottom: 0;
        background: url(../../img/flower-outlined.svg) 50% 50%/contain no-repeat;
        

        &::before {
            content: ' ';
            padding-top: 128%;
            display: block;
        }

        &--1 {
            width: 30%;
            min-width: 300px;
            transform: translate(-50%, 20%) rotate(17deg);
            left: 85%;
        }

        &--2 {
            width: 24%;
            min-width: 250px;
            transform: translate(-50%, 35%) rotate(-25deg);
            left: 58%;
            filter: blur(5px);
        }
    }

    &__content {
        position: relative;
        z-index: 10;
        min-height: 55rem;
        padding: 40px 0 6.8rem 0;
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }

    &__title {
        font-weight: 600;
        font-size: 5.6rem;
        line-height: 120%;
    }

    &__section {
        margin-top: auto;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: calc(19/16);
    }

}

@media (max-width: 899.98px) {
    .promo-3 {

        &__content {
            min-height: 500px;
            padding-top: 16px;
        }

        &__title {
            font-size: 32px;
        }
  
    }
}

@media (max-width: 499.98px) {

    .promo-3 {

        &__content {
            max-width: none;
        }

    }
}