.slider-people {
    overflow: hidden;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 6.4rem;
    }

    &__list {
        font-size: 0;
        white-space: nowrap;
        margin: 0 -1.2rem;
    }

    &__item {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 25%;
        padding: 0 1.2rem;
    }

    &__photo {
        background: #f3f3f3 50% 50% / cover no-repeat;

        &:before {
            content: ' ';
            padding-top: 145%;
            display: block;
        }
    }

    &__post {
        margin-top: 3.2rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 155%;
        color: #20877D;
    } 

    &__name {
        word-break: break-all;
        margin-top: 1.6rem;
        font-size: 2.2rem;
        line-height: 135%;

        span {
            display: block;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    &__btns {
        display: flex;
        margin-left: auto;
    }

    &__prev,
    &__next {
        margin-left: .8rem;
        padding: 1.6rem 2.4rem;
        border-radius: 2rem 0px;
        border: 0;
        cursor: pointer;
        background: #F8F8F8;

        &:hover {
            background: darken(#F8F8F8, 2%);
        }

        .icon {
            width: 2rem;
            height: 2rem;
            stroke: #20877D;
        }
    }

    &__dots {
        display: none;
    }

    .slick-list {
        overflow: visible;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 35px;

        li {
            
            margin: 0 3px;

            &.slick-active {
                button {
                   &:before {
                        background: #20877D; 
                   }
                }
            }
        }

        button {
            padding: 5px;
            background: none;
            border: 0;
            cursor: pointer;
            font-size: 0;
            overflow: hidden;

            &:before {
                content: " ";
                display: block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                border: 1px solid #fff;
                box-shadow: 0 0 0 1px #20877D;
                padding: 0;
                background: #fff;
            }
        }
    }

}

@media (max-width: 899.98px) {
    .slider-people {

        &__header {
            margin-bottom: 24px;
        }

        &__list {
            margin: 0 -5px;
        }

        &__item {
            padding: 0 5px;
        }
       
        &__post {
            margin-top: 24px;
            font-size: 12px;
        }

        &__name {
            margin-top: 16px;
            font-size: 16px;
        }

        &__btns {
            display: none;
        }

        &__dots {
            display: block;
        }

    }
}