.slider-reviews {
    position: relative;
    background: #20877D;
    padding: 10rem 0 12rem 0;
    overflow: hidden;

    &:before,
    &:after {
        content: ' ';
        @include fill;
        
    }

    &:before {
        background: url(../img/reviews/curve-1.svg) 0 105% / 90% auto no-repeat ;
    }

    &:after {
        background: url(../img/reviews/curve-2.svg) 0 105% / 60% auto no-repeat ;
    }

    &__content {
        position: relative;
        z-index: 10;
    }

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 6.4rem;
    }

    &__row {
        font-size: 0;
        white-space: nowrap;
        margin: 0 -1rem;
    }

    &__col {
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        width: 40%;
        padding: 0 1rem;
    }

    &__item {
        background: #fff;
        padding: 4.8rem 4rem;

    }

    &__name {
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 135%;
    }

    &__post {
        margin-top: .8rem;
        font-weight: 500;
        font-size: 16px;
        line-height: 155%;

        span {
            color: #20877D;
        }
    }

    &__text {
        margin-top: 3.2rem;
    }

    &__btns {
        display: flex;
        margin-left: auto;
    }

    &__prev,
    &__next {
        margin-left: .8rem;
        padding: 1.6rem 2.4rem;
        border-radius: 0px 2rem;
        border: 0;
        cursor: pointer;
        background: #F8F8F8;

        &:hover {
            background: darken(#F8F8F8, 2%);
        }

        .icon {
            width: 2rem;
            height: 2rem;
            stroke: #20877D;
        }
    }

    &__next {
        border-radius: 2rem 0px;
    }

    &__dots {
        display: none;
    }

    .slick-list {
        overflow: visible;
    }

    .slick-track {
        margin-left: 0;
        margin-right: 0;
    }

   
}

@media (max-width: 899.98px) {
    .slider-reviews {
        padding: 40px 0;

        &__header {
            margin-bottom: 24px;
        }

        &__col {
            width: 100%;
        }

        &__name {
            font-weight: 500;
            font-size: 20px;
            line-height: 135%;
        }

        &__post {
            margin-top: 8px;
            font-size: 12px;
            line-height: 135%;
        }

        &__text {
            margin-top: 24px;
        }

        &__btns {
            display: none;
        }

        &__dots {
            display: block;
        }
    }
}