<footer class="footer">
   <div class="footer__flower"></div>
   <div class="page__center">
      <div class="footer__in">
         <div class="footer__name">
         <a href="#">
            Центр непрерывного 
            <br>образования казгик
         </a>
         </div>
         <div class="footer__row">
         <div class="footer__col">
            <div class="footer__nav">
               <div class="nav-footer">
                  <div><a href="#">Главная</a></div>
                  <div><a href="#">О нас</a></div>
                  <div><a href="#">Программы</a></div>
                  <div><a href="#">Федеральный Проект «Творческие люди»</a></div>
               </div>
               <ul class="nav-collapse js-accordion">
                  <li class="acc_section">
                        <div class="acc_head">пресс-служба<i><i></i></i></div>
                        <div class="acc_content" style="display: none;">
                           <div class="nav-collapse__body">
                              <div class="nav-collapse__links">
                                 <div><a href="#">Пресс-служба</a></div>
                                 <div><a href="#">Новости</a></div>
                                 <div><a href="#">Анонсы</a></div>
                                 <div><a href="#">Медиагалерея</a></div>
                                 <div><a href="#">СМИ о нас</a></div>
                              </div>
                           </div>
                        </div>
                  </li>
               </ul>
            </div>
         </div>
         <div class="footer__col">
            <div class="footer__touch">
               <div class="footer__touch__title">Контакты</div>
               <div class="footer__touch__desc">
                  <div>Казань, ул. Спартаковская, д. 2 &nbsp;&nbsp;<a href="#" class="nice-link nice-link--active">На карте</a></div>
                  <div><a href="tel:+79274231774">+7 (927) 423-17-74</a></div>
               </div>
               <nav class="footer__icons">
                  <a href="#">
                     <svg class="icon">
                        <use xlink:href="img/sprite.svg#telegram"></use>
                     </svg>
                  </a>
                  <a href="#">
                     <svg class="icon">
                        <use xlink:href="img/sprite.svg#youtube"></use>
                     </svg>
                  </a>
                  <a href="#">
                     <svg class="icon">
                        <use xlink:href="img/sprite.svg#vk"></use>
                     </svg>
                  </a>
               </nav>
            </div>
         </div>
         <div class="footer__col">
            <div class="footer__promo">
               <div class="footer__promo__title">При поддержке</div>
               <img src="img/logo.svg" alt="">
            </div>
         </div>
         </div>
      </div>
   </div>
</footer>