<header class="header">
   <div class="header__top header__top--gray">
      <div class="page__center">
         <div class="header__top__in">
            <nav class="header__lang">
               <a href="#" class="nice-link active">ru</a>
               <a href="#" class="nice-link">eng</a>
            </nav>
            <div class="header__desc">Сведения об образовательной организации</div>
            <nav class="header__icons">
            <a href="#">
               <svg class="icon">
                  <use xlink:href="img/sprite.svg#telegram"></use>
                  </svg>
            </a> 
            <a href="#">
                  <svg class="icon">
                     <use xlink:href="img/sprite.svg#youtube"></use>
                  </svg>
               </a>
               <a href="#">
                  <svg class="icon">
                     <use xlink:href="img/sprite.svg#vk"></use>
                  </svg>
               </a>
               <span></span>
               <a href="#">
                  <svg class="icon">
                     <use xlink:href="img/sprite.svg#eye"></use>
                  </svg>
               </a>
               <a href="#">
                  <svg class="icon">
                     <use xlink:href="img/sprite.svg#person"></use>
                  </svg>
               </a>
            </nav>
         </div>
      </div>
   </div>
   <div class="header__main">
      <div class="page__center">
         <div class="header__main__in">
            <a href="#" class="header__name">
               Центр непрерывного 
               <br> образования <span class="text-green">казгик</span>
            </a>
            <nav class="header__nav">
               <div class="header__nav__item">
                  <a href="#">главная</a>
               </div>
               <div class="header__nav__item">
                  <a href="#">О нас</a>
               </div>
               <div class="header__nav__item">
                  <a href="#">ФП «Творческие люди»</a>
               </div>
               <div class="header__nav__item">
                  <a href="#" data-submenu="submenu2" class="js-submenu-item">программы</a>
               </div>
               <div class="header__nav__item ">
                  <a href="#" data-submenu="submenu1" class="js-submenu-item">Пресс-служба</a>
               </div>
               <div class="header__nav__item">
                  <a href="#">Контакты</a>
               </div>
            </nav>
            <div class="header__tools">
               <button class="header__btn-search">
                  <svg class="icon">
                     <use xlink:href="img/sprite.svg#search"></use>
                  </svg>
               </button>
               <button class="header__btn-menu js-burger">
                  <span>
                     <i></i>
                     <i></i>
                     <i></i>
                  </span>
               </button>
            </div>
         </div>
      </div>
   </div>
   <!-- @@include = ./submenu.html -->
</header>