<div class="submenu js-submenu" id="submenu1">
    <div class="page__center">
        <div class="submenu__row">
            <div class="submenu__title">Пресс-служба</div>
            <div class="submenu__list">
                <div><a href="#">Пресс-служба</a></div>
                <div><a href="#">Новости</a></div>
                <div><a href="#">Анонсы</a></div>
                <div><a href="#">Медиагалерея</a></div>
                <div><a href="#">СМИ о нас</a></div>
            </div>
        </div>
    </div>
</div>

<div class="submenu js-submenu" id="submenu2">
    <div class="page__center">
        <div class="submenu__row">
            <div class="submenu__title">Программы</div>
            <div class="submenu__list">
                <div><a href="#">Тест</a></div>
                <div><a href="#">Новости</a></div>
                <div><a href="#">Анонсы</a></div>
                <div><a href="#">Медиагалерея</a></div>
                <div><a href="#">СМИ о нас</a></div>
            </div>
        </div>
    </div>
</div>